//主色系
@theme-color: #000;//主色
@theme-color-weak: #777;//辅色
@body-color: #EFF0F3;//背景色
@hint-color: #EA567B;//对比色

//字体大小
@font-size-header: 1.8rem;
@font-size-topic: 1.6rem;
@font-size-base: 1.4rem;
@font-size-weak: 1.2rem;

@html-font-size: 14;

// @rem: 1rem/@html-font-size;

//字体色系
@font-color-topic: #333;//用于标题、视觉重点,文字信息，评论语色
@font-color-base: #777;//用于小字号、信息正文、等级较弱文
@font-color-weak: #C7CED2;//用于填写信息标注，等信息等级最弱字体用色

//分割线色系
@line-color-split: #eee;



